.ten-mincho {
	font-family: ten-mincho, serif;
	font-weight: 400;
	font-style: normal;
}

.yugothic_m {
	font-family: "cross-platform-yu-gothic";
	font-family: 500;
}

// @font-face {
// 	font-family: "A1明朝";
// 	src: url(../fonts/A1MinchoStd-Bold.otf) format("opentype");
// 	font-style: normal;
// }
.A1明朝 {
	font-family: "A1明朝";
}
