// Section 5 //
.sect_5 {
	padding: 0 0 50px 0;
	position: relative;

	@include is-sp {
		padding-top: 150px;
		margin-top: -150px;
	}

	.up-right {
		position: absolute;
		right: 0;
		top: 0;
		z-index: -1;

		@include is-sp {
			display: none;
		}
	}

	.l-wrap {
		padding-left: 0 !important;
		padding-right: 0 !important;

		@include is-max(1091px) {
			padding-left: 20px !important;
			padding-right: 20px !important;
		}

		@include is-sp {
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
	}

	.c_address {
		padding: 50px 0 0 0;

		&__heading {

			.c-heading-title {
				@include font-line(38);
				font-family: 'A1明朝';

				@include is-sp {
					letter-spacing: -3px;
				}
			}

			.c-heading-primary {
				color: #C60000;

				@include is-sp {
					padding-left: 30px;
					padding-right: 30px;
				}
			}
		}

		&__c-description {
			display: flex;
			column-gap: 25px;
			position: relative;

			@include is-sp {
				padding-left: 30px;
				padding-right: 30px;
			}

			.lef-pic-pc {
				position: absolute;
				top: -258px;
				right: 0;
				display: none;

				@include is-pc {
					display: block;
				}

				.srvc_1 {
					margin-bottom: 20px;
				}
			}
		}

		.srvc_1 {
			// width: 213px;

			@include is-sp {
				width: 50%;
			}
		}

		.lef-pic-sp {

			top: -258px;
			right: 0;
			display: none;

			@include is-sp {
				display: flex;
			}
		}

		&__col-1 {
			width: 120px;

			.c_flex {
				display: flex;
				justify-content: space-between;
			}

			p {
				@include font-line(16);
				font-family: 'Noto Sans JP', sans-serif;
				font-weight: 500;
				color: #C60000;
			}
		}

		&__col-2 {

			p {
				@include font-line(16);
				font-family: 'Noto Sans JP', sans-serif;
				font-weight: 400;
			}
		}

		&__boxes {
			max-width: 970px;
			margin: 0 auto;
			width: 100%;
			display: flex;
			align-items: center;
			margin-top: 60px;
			padding-left: 10px;
			padding-right: 10px;
			position: relative;
			justify-content: space-between;

			@include is-sp {
				column-count: unset;
				display: flex;
				flex-wrap: wrap;
				padding-left: 30px;
				padding-right: 30px;
				column-gap: unset;
			}

			.srvc_1-s {
				@include is-sp {
					width: 100%;
				}
			}

			.arrow {
				margin: 0px 10px 67px 10px;

				@include is-sp {
					margin: 0;
				}
			}

			.pic-1 {
				@include is-sp {
					width: 47%;
				}
			}

			.c-text {
				@include font-line(16);
				font-family: 'Noto Sans JP', sans-serif;
				font-weight: 400;
				padding: 10px 0;
				height: 100px;

				@include is-sp {
					height: 145px;
				}

				@include is-max(366px) {
					height: 170px;
				}
			}

			.arrow-1 {
				margin-bottom: 70px;

				@include is-max(400px) {
					top: 60% !important;
				}

				@include is-sp {
					position: absolute;
					left: 2%;
					top: 65%;
					width: 3%;
				}
			}

			.arrow-2 {
				margin-bottom: 70px;

				@include is-max(400px) {
					top: 14% !important;
				}

				@include is-sp {
					position: absolute;
					right: 48%;
					top: 18%;
					width: 3%;
				}
			}

			.arrow-3 {
				margin-bottom: 70px;

				@include is-max(400px) {
					top: 60% !important;
				}

				@include is-sp {
					position: absolute;
					bottom: 32%;
					right: 48%;
					width: 3%;
					margin-bottom: 0;
				}
			}
		}

		&__boxes2 {
			max-width: 970px;
			margin: 0 auto;
			width: 100%;
			display: flex;
			align-items: center;
			margin-top: 60px;
			padding-left: 10px;
			padding-right: 10px;
			position: relative;
			justify-content: flex-start;
			column-gap: 16px;

			@include is-sp {
				column-count: unset;
				display: flex;
				flex-wrap: wrap;
				padding-left: 30px;
				// padding-right: 30px;
				column-gap: unset;
			}

			.srvc_1-s {
				@include is-sp {
					width: 100%;
				}
			}

			.arrow {
				margin: 0px 10px 67px 10px;

				@include is-sp {
					margin: 0;
				}
			}

			.pic-1:nth-child(1) p {
				@include font-line(28);
				font-family: 'Noto Sans JP', sans-serif;
				font-weight: 500;
				color: #c60000;
				margin-bottom: 70px;
				padding-right: 20px;
			}

			.pic-1 {
				@include is-sp {
					width: 47%;
				}
			}

			.c-text {
				@include font-line(16);
				font-family: 'Noto Sans JP', sans-serif;
				font-weight: 400;
				padding: 10px 0;
				height: 100px;
			}

			.arrow-1 {
				margin-bottom: 70px;

				@include is-sp {
					position: absolute;
					left: 2%;
					top: 65%;
					width: 3%;
				}
			}

			.arrow-2 {
				margin-bottom: 70px;

				@include is-sp {
					position: absolute;
					right: 48%;
					top: 18%;
					width: 3%;
				}
			}

			.arrow-3 {
				margin-bottom: 70px;

				@include is-sp {
					position: absolute;
					bottom: 32%;
					right: 48%;
					width: 3%;
					margin-bottom: 0;
				}
			}
		}
	}

	table {

		th {
			display: flex;
			justify-content: space-between;
			width: 128px;
			color: #C60000;
			font-family: 'Noto Sans JP', sans-serif;
			font-weight: 600;
			@include font-line(16);
		}

		td {
			@include font-line(16);
			padding-left: 20px;
			font-family: 'Noto Sans JP', sans-serif;
			font-weight: 400;
		}

	}
}
