// Section 3 //
.sect_3 {
	background-image: url("../image/sect_3/overlay_background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	position: relative;

	.outer_container {
		max-width: 920px;
		width: 100%;
		margin: 0 auto;
	}

	&__inner {
		padding-top: 0;
		padding-bottom: 0;
		border-left: 2px solid #FFCD34;
		border-right: 2px solid #FFCD34;

		.l-container {
			.l-content {
				padding: 10px 30px;
			}
		}

		@include is-sp {
			border-left: 0;
			border-right: 0;
		}

		.bg-overlay {
			background-color: #fff;
			padding: 87px 0;
		}

		.ml-13 {
			margin-left: 13px;
			margin-right: 13px;

			@include is-sp {
				margin-left: 0;
				margin-right: 0;
			}
		}
	}

	&__title {

		.c-heading-title {
			@include font-line(38);
			font-family: 'A1明朝';
			letter-spacing: 20px;
		}
	}

	#sect_3 {
		@include is-sp() {
			padding-top: 220px;
			margin-top: -220px;
		}
	}

	&__subtitle {
		.c-heading-sub-title {
			@include font-line(22);
			font-family: 'Noto Sans JP', sans-serif;
			font-weight: 700;

			@include is-sp {
				@include font-line(20);
				letter-spacing: -1px;
			}
		}
	}

	.c-heading-title-primary {
		color: #C60000;
	}

	&__star-wrapper {
		max-width: 720px;
		margin: 0 auto;
		margin-top: 45px;

		.border-t {
			border-top: 2px dotted #000;
		}

		.border-b {
			border-bottom: 2px dotted #000;
		}

		.c-pad {
			padding: 40px 0 40px 60px;

			@include is-sp {
				padding: 40px 0;
			}
		}

		.c-rating {
			@include font-line(16);
			text-align: left;
			font-family: 'Noto Sans JP', sans-serif;
			font-weight: 400;
			padding-bottom: 7px;

			span {
				@include font-line(20);
				font-weight: bold;
				padding: 2px 4px;
				color: red;
			}
		}

		.star-content {
			text-align: left;
		}

		.star-pic {
			width: 20px;
			margin-top: -5px
		}

		.c-food {
			text-align: left;
		}

		// .food-1 {
		// 	width: 100px;

		// }

		span {
			font-family: 'Yu Gothic', sans-serif;;
			small {
				font-family: 'Noto Sans JP', sans-serif;
				border: 1px solid #a2a2a2;
				padding: 2px 5px;
				border-radius: 5px;
				font-weight: 700;
			}
		}

		.inline-img {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			column-gap: 5px;
		}

		// .inline-img:nth-of-type(2) {
		// 	column-count: 3;
		// 	display: block;
		// }
	}

}

.sect_3 {
	background-image: url("../image/sect_3/overlay_background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	position: relative;

	.outer_container {
		max-width: 920px;
		width: 100%;
		margin: 0 auto;
	}

	&__inner {
		padding-top: 0;
		padding-bottom: 0;
		border-left: 2px solid #FFCD34;
		border-right: 2px solid #FFCD34;

		.l-container {
			.l-content {
				padding: 10px 30px;
			}
		}

		@include is-sp {
			border-left: 0;
			border-right: 0;
		}

		.bg-overlay {
			background-color: #fff;
			padding: 87px 0;
		}

		.ml-13 {
			margin-left: 13px;
			margin-right: 13px;

			@include is-sp {
				margin-left: 0;
				margin-right: 0;
			}
		}
	}

	&__title {

		.c-heading-title {
			@include font-line(38);
			font-family: 'A1明朝';
			letter-spacing: 20px;
		}
	}

	#sect_3 {
		@include is-sp() {
			padding-top: 220px;
			margin-top: -220px;
		}
	}

	&__subtitle {
		.c-heading-sub-title {
			@include font-line(22);
			font-family: 'Noto Sans JP', sans-serif;
			font-weight: 700;

			@include is-sp {
				@include font-line(20);
				letter-spacing: -1px;
			}
		}
	}

	.c-heading-title-primary {
		color: #C60000;
	}

	&__star-wrapper {
		max-width: 720px;
		margin: 0 auto;
		margin-top: 45px;

		.border-t {
			border-top: 2px dotted #000;
		}

		.border-b {
			border-bottom: 2px dotted #000;
		}

		.c-pad {
			padding: 40px 0 40px 60px;

			@include is-sp {
				padding: 40px 0;
			}
		}

		.c-rating {
			@include font-line(16);
			text-align: left;
			font-family: 'Noto Sans JP', sans-serif;
			font-weight: 400;
			padding-bottom: 7px;

			span {
				@include font-line(20);
				font-weight: bold;
				padding: 2px 4px;
				color: red;
			}
		}

		.star-content {
			text-align: left;
		}

		.star-pic {
			width: 20px;
			margin-top: -5px
		}

		.c-food {
			text-align: left;
		}

		// .food-1 {
		// 	width: 100px;
		// }

		span {
			small {
				border: 1px solid #a2a2a2;
				padding: 2px 5px;
				border-radius: 5px;
				font-weight: 700;
			}
		}

		.inline-img {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			column-gap: 5px;
		}

		// .inline-img:nth-of-type(2) {
		// 	column-count: 3;
		// 	display: block;
		// }
	}

}
