// Section 2 //
.sect_2 {
	.bg_overlay-pc {
		padding: 30px 0 30px 0;
		background-image: url("../image/sect_2/overlay_background.png");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		text-align: center;
		position: relative;
		display: none;

		@include is-pc {
			display: block;
		}
	}

	.bg_overlay-sp {
		padding: 30px 0 30px 0;
		background-repeat: no-repeat;
		background-size: cover;
		text-align: center;
		position: relative;
		background-color: #910100;
		display: none;

		@include is-sp {
			display: block;
		}
	}

	&__title {
		.c-heading-title {
			@include font-line(30);
			font-family: 'A1明朝';

			@include is-sp {
				letter-spacing: 0;
			}
		}

		.c-heading-title-white {
			color: #fff;
		}
	}

	&__content {
		margin: 0 auto;
		max-width: 561px;

		.text {
			@include font-line(18);
			font-family: 'Noto Sans JP', sans-serif;
			font-weight: 400;
			text-align: justify;

			span {
				color: #ffe600;
				font-weight: 800;
				// @include is-sp {
				// 	color: #fff;
				// }
			}
		}

		.text-white {
			color: #fff;
		}
	}

	&__image-sp {
		display: none;

		@include is-sp {
			display: block;

			.upper-image {
				width: 100%;
			}
		}
	}


}
