.sect_7 {
	    margin-top: -8px;
	.contact_details {
		position: relative;

		.bg_color {
			&::before {
				content: "";
				display: block;
				width: 50%;
				height: 100%;
				background-color: #000;
				position: absolute;
				top: 0%;
				left: 0;
				z-index: -1;
			}

			&::after {
				content: "";
				display: block;
				width: 50%;
				height: 100%;
				background-color: #009600;
				position: absolute;
				top: 0%;
				right: 0;
				z-index: -1;
			}

			.l-wrap {
				@include is-max(990px){
					padding-left: 0 !important;
					padding-right: 0 !important;
				}
			}
		}
	}
}
